In [1]:
import pandas as pd
import numpy as np

In [2]:
feature_list = ['feature0', 'feature1', 'feature2', 'feature11', 'feature12', 'feature13', 'feature15', 'feature16', 'feature17', 'feature18', 
           'feature19', 'feature20_0', 'feature20_1', 'feature20_2', 'feature20_3', 'feature20_4', 'feature20_5', 'feature20_6', 
           'feature20_7','feature_edge','feature_distance','feature60', 'feature61_0', 'feature61_1', 'feature61_2', 'feature61_3',  'feature61_4', 'feature61_5', 
           'feature61_6', 'feature61_7','feature69_0', 'feature69_1', 'feature69_2', 'feature69_3','feature69_4', 'feature69_5', 
           'feature69_6', 'feature69_7', 'feature28_0', 'feature28_1', 'feature28_2','feature28_3', 'feature28_4', 'feature28_5', 'feature28_6',
       'feature28_7','feature36_0', 'feature36_1', 'feature36_2', 'feature36_3', 'feature36_4', 'feature36_5', 'feature36_6',
       'feature36_7', 'feature44_0', 'feature44_1', 'feature44_2', 'feature44_3', 'feature44_4', 'feature44_5', 'feature44_6',
       'feature44_7', 'feature52_0', 'feature52_1', 'feature52_2', 'feature52_3', 'feature52_4', 'feature52_5', 'feature52_6',
       'feature52_7', 'feature77_0', 'feature77_1', 'feature77_2', 'feature77_3',  'feature77_4', 'feature77_5', 
           'feature77_6', 'feature77_7','feature85_0', 'feature85_1', 'feature85_2', 'feature85_3','feature85_4', 'feature85_5', 
           'feature85_6', 'feature85_7']

In [3]:
def edge_count(test):
    edge_list = [0,1,6,7,8,9,14,15,16,17,22,23,24,25,30,31]
    feature_edge = []
    for i in range(len(test)):
        current_direction = [m for m in test.iloc[i].tolist() if m in edge_list]
        feature_edge.append(len(current_direction))
    test['feature_edge'] = feature_edge
    return test

In [4]:
def distance_count(test):
    feature_distance = []
    for i in range(len(test)):
        coordinate = []
        for m in (test.iloc[i].tolist()):
            coordinate.append((m-8*(m//8), m//8))
        distance = 0
        for a in coordinate:
            for b in coordinate:
                distance = distance + ((a[0]-b[0])**2 + (a[1]-b[1])**2)**0.5
        feature_distance.append(distance)
    test['feature_distance'] = feature_distance
    return test

In [5]:
new_sample_length = pd.DataFrame()
for i in range(600):
    m = pd.read_csv('D:/2022 AIops/test/{}.csv'.format(i))
    m = m.drop(columns='Date & Time', axis=1)
    column = m.columns.tolist()
    for item in column:
        new_sample_length.loc[i,item]=m.loc[:,item].mean()

In [6]:
new_sample_length = new_sample_length.drop(columns=['feature3_5', 'feature3_6', 'feature3_7', 'feature3_8'], axis=1)
new_sample_length

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature77_6,feature77_7,feature85_0,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7
0,11.992000,3.096000,1.366000,31.200000,0.000000,65.600000,0.000000,0.000000,3.200000,13157.000000,...,-13.238000,-13.288000,14.052000,7.164000,-1.226000,-1.174000,-7.398000,-10.702000,-13.188000,-13.026000
1,270.712500,12.942500,2.000000,0.000000,1543.750000,0.000000,0.000000,0.000000,8.727500,385682.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,144.390000,18.190000,1.210000,1240.000000,321.000000,0.000000,0.000000,0.000000,8.640000,392623.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,162.847805,17.464390,3.816341,16.390244,10.170732,56.121951,654.536585,0.000000,9.348293,141276.243902,...,-7.366341,NaN,4.912927,7.432195,3.289756,1.086829,-0.540732,-1.286829,-2.659756,NaN
4,105.873333,10.506667,3.856000,19.733333,0.000000,27.933333,538.266667,0.015333,11.162667,103622.733333,...,-10.562667,NaN,3.934000,-0.134667,-3.168667,-4.866667,-8.361333,-9.142667,-10.296000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,102.369660,12.555850,2.830748,182.299320,131.700680,307.088435,223.911565,1.329592,13.673197,178061.959184,...,-8.770714,NaN,6.150000,0.644694,-2.229660,-3.790136,-5.775068,-7.129521,-8.421905,NaN
596,362.554932,13.380704,2.446197,134.957746,244.633803,723.549296,128.070423,0.032877,7.668767,294548.619718,...,-6.232941,-8.766029,5.233151,1.968219,-0.382740,-2.333425,-4.036029,-4.731765,-5.916618,-8.739412
597,77.243562,12.760690,2.467862,325.393103,91.896552,195.344828,185.800000,2.066690,19.863034,170026.200000,...,-10.463488,NaN,5.701918,-1.077945,-4.242397,-6.003425,-7.039521,-8.241575,-10.187364,NaN
598,839.691614,20.548772,3.603368,18.294737,6.578947,563.400000,1004.410526,0.000000,9.254105,384367.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,719.310070,19.106783,3.534406,18.510490,24.944056,623.307692,877.475524,0.000000,9.109021,369898.629371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
edge_avg = []
for i in range(600):
    test =  pd.read_csv('D:/2022 AIops/test/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = edge_count(test)
    edge_avg.append(test.feature_edge.mean())
print(len(edge_avg))

600

In [8]:
distance_avg = []
for i in range(600):
    test =  pd.read_csv('D:/2022 AIops/test/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = distance_count(test)
    distance_avg.append(test.feature_distance.mean())
print(len(distance_avg))

600

In [9]:
length = []
for i in range(600):
    m = pd.read_csv('D:/2022 AIops/test/{}.csv'.format(i))
    length.append(len(m))
print(len(length))

600

In [10]:
new_sample_length['feature_edge'] = edge_avg
new_sample_length['feature_distance'] = distance_avg
new_sample_length['length'] = length
new_sample_length

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7,feature_edge,feature_distance,length
0,11.992000,3.096000,1.366000,31.200000,0.000000,65.600000,0.000000,0.000000,3.200000,13157.000000,...,7.164000,-1.226000,-1.174000,-7.398000,-10.702000,-13.188000,-13.026000,4.000000,168.000000,5
1,270.712500,12.942500,2.000000,0.000000,1543.750000,0.000000,0.000000,0.000000,8.727500,385682.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500000,137.562833,4
2,144.390000,18.190000,1.210000,1240.000000,321.000000,0.000000,0.000000,0.000000,8.640000,392623.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,94.141079,1
3,162.847805,17.464390,3.816341,16.390244,10.170732,56.121951,654.536585,0.000000,9.348293,141276.243902,...,7.432195,3.289756,1.086829,-0.540732,-1.286829,-2.659756,NaN,NaN,NaN,41
4,105.873333,10.506667,3.856000,19.733333,0.000000,27.933333,538.266667,0.015333,11.162667,103622.733333,...,-0.134667,-3.168667,-4.866667,-8.361333,-9.142667,-10.296000,NaN,NaN,NaN,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,102.369660,12.555850,2.830748,182.299320,131.700680,307.088435,223.911565,1.329592,13.673197,178061.959184,...,0.644694,-2.229660,-3.790136,-5.775068,-7.129521,-8.421905,NaN,NaN,NaN,147
596,362.554932,13.380704,2.446197,134.957746,244.633803,723.549296,128.070423,0.032877,7.668767,294548.619718,...,1.968219,-0.382740,-2.333425,-4.036029,-4.731765,-5.916618,-8.739412,4.000000,168.000000,73
597,77.243562,12.760690,2.467862,325.393103,91.896552,195.344828,185.800000,2.066690,19.863034,170026.200000,...,-1.077945,-4.242397,-6.003425,-7.039521,-8.241575,-10.187364,NaN,NaN,NaN,146
598,839.691614,20.548772,3.603368,18.294737,6.578947,563.400000,1004.410526,0.000000,9.254105,384367.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.155235,127.876193,285
599,719.310070,19.106783,3.534406,18.510490,24.944056,623.307692,877.475524,0.000000,9.109021,369898.629371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100719,133.477538,143

In [11]:
new_sample_length_part = new_sample_length[0:597]
pad_data = new_sample_length_part.fillna(method='ffill',axis=0)
back_data = new_sample_length_part.fillna(method='backfill',axis=0)
new_sample_length_part = (pad_data+back_data)/2
print(new_sample_length_part.columns[new_sample_length_part.isnull().sum() > 0].tolist())

[]

In [12]:
new_sample_length_last = new_sample_length[596:600]
new_sample_length_last = new_sample_length_last.fillna(method='ffill',axis=0)
print(new_sample_length_last.columns[new_sample_length_last.isnull().sum() > 0].tolist())
new_sample_length_last = new_sample_length_last[1:]
new_sample_length_last

[]

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7,feature_edge,feature_distance,length
597,77.243562,12.760690,2.467862,325.393103,91.896552,195.344828,185.800000,2.06669,19.863034,170026.200000,...,-1.077945,-4.242397,-6.003425,-7.039521,-8.241575,-10.187364,-8.739412,4.000000,168.000000,146
598,839.691614,20.548772,3.603368,18.294737,6.578947,563.400000,1004.410526,0.00000,9.254105,384367.600000,...,-1.077945,-4.242397,-6.003425,-7.039521,-8.241575,-10.187364,-8.739412,3.155235,127.876193,285
599,719.310070,19.106783,3.534406,18.510490,24.944056,623.307692,877.475524,0.00000,9.109021,369898.629371,...,-1.077945,-4.242397,-6.003425,-7.039521,-8.241575,-10.187364,-8.739412,3.100719,133.477538,143

In [14]:
new_sample_length = new_sample_length_part.append(new_sample_length_last)
print(new_sample_length.columns[new_sample_length.isnull().sum() > 0].tolist())
new_sample_length.to_csv('D:/2022 AIops/new sample/new_sample_mean.csv')

[]